.about__block {
  max-width: 49%;
  display: inline-block;
  vertical-align: top; 
}
.about__block:not(:last-child) {
  margin-right: 75px;
}
.about__block_hover {
  cursor: pointer;
}

.about__info {
  width: 500px;
  min-height: 222px;
} 
.about__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.about__text:not(:last-child) {
  margin-bottom: 39px;
}

.about__blockquote {
  display: flow-root;
}


.about__quote {
  position: relative;
  max-width: 400px;
  quotes: none;
  padding-left: 30px;
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  margin-bottom: 40px;
  text-transform: uppercase;
  
}
.about__quote:before {
  position: absolute;
  content:'';
  left: 0;
  width: 22px;
  height: 50px;
  background-image: url('../img/quote.svg');
  background-repeat: no-repeat;
}
.about__quote:after {
  position: absolute;
  content:'';
  bottom: 25px;
  width: 22px;
  height: 50px;
  background-image: url('../img/quote.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.creator {
  float: right;
  right: 100px;
  bottom: 0;
  align-items: center;
}

.creator__photo {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  object-position: top;
  cursor: pointer; 
}

.creator__cite {
  width: 280px;
  min-height: 84px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .about__block {
    width: 46.5%;
    height: 417px;
}
.about__block:not(:last-child) {
  margin-right: 58px;
}
.about__text {
  font-size: 18px;
  line-height: 24px;
  
}
.about__quote {
  padding-left: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 20px;
 
  
}
.creator {
  float: right;
  right: 100px;
  bottom: 0;
  align-items: center;
}
.creator__photo {
  display: inline-block;
  max-width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 30px;
  object-fit: cover;
  object-position: top;
  cursor: pointer; 
}

.creator__cite {
  max-width: 225px;
  min-height: 78px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
}
}*/