.about__block {
  display: inline-block;
  vertical-align: top;
}
.about__block:not(:last-child) {
  margin-right: 75px;
}
.about__block_hover {
  transition: 0.5s ease;
  cursor: pointer;
}
.about__block_hover:hover {
  transition-duration: 0.5s;
  transform: scale(110%);
}
.about__info {
  width: 500px;
  min-height: 222px;
} 
.about__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.about__text:not(:last-child) {
  margin-bottom: 39px;
}

.about__blockquote {
  display: flow-root;
}


.about__quote {
  position: relative;
  max-width: 400px;
  quotes: none;
  padding-left: 30px;
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  margin-bottom: 40px;
  text-transform: uppercase;
  
}
.about__quote:before {
  position: absolute;
  content:'';
  left: 0;
  width: 22px;
  height: 50px;
  background-image: url('../img/quote.svg');
  background-repeat: no-repeat;
}
.about__quote:after {
  position: absolute;
  content:'';
  bottom: 25px;
  width: 22px;
  height: 50px;
  background-image: url('../img/quote.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.creator {
  float: right;
  right: 100px;
  bottom: 0;
  align-items: center;
}

.creator__photo {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  object-position: top;
  transition: 0.5s ease;
  cursor: pointer; 
}
.creator__photo:hover {
  transition-duration: 0.5s;
  transform: scale(110%);
}

.creator__cite {
  width: 280px;
  min-height: 84px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
}