.book {
  background-color: #440F51;;
}
.form {
  position: relative;
  max-width: 1157px;
  height: 100%;
  margin: 0;
  padding: 50px 0;
}
.fildset {
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  border: none;
}
.fildset__halls {
  padding: 40px 0;
}
.fildset__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
}
.hall__lable {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 133% ;
  text-align: center;
  text-transform: uppercase;
}
.subfildset {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 20px;
 border: none;
}
.subfildset__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  padding-bottom: 23px;

}

.subfildset__item {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  
}
.fildset__custom {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.custom__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}
.custom__input {
  display: block;
  font-style: 16px;
  width: 300px;
  height: 56px;
}
.custom__input_small {
  width: 139px;
  height: 56px;
}
.custom__wrapp_small {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  
}
.custom__item_small {
  display: block;
  flex-shrink: 2;
}
.book__button {
  position: absolute;
  bottom: 0;
  right: 100px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6C0287;
  border: none;
  display: inline-block;
 
}






