.book {
  background-color: #440F51;;
}
.form {
  max-width: 1157px;
  height: 100%;
  margin: 0;
  padding: 50px 0;
}
.fildset {
  display: flex;
  justify-content: space-between;
  border: none;
}
.fildset:not(:first-child) {
  max-width: 980px;
  margin: 0 auto;
}
.fildset__halls {
  padding: 40px 0;
}
.fildset__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
}
.hall__btn {
  width: 250px;
  height: 55px;
  border-radius: 8px;
}
.hall__lable {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 133% ;
  text-align: center;
  text-transform: uppercase;
}
.hall__input {
  display: none;
}
.subfildset {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 20px;
 border: none;
}
.subfildset__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  padding-bottom: 23px;

}

.subfildset__item {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  
}
.fildset__custom {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.custom__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}
.custom__input {
  display: block;
  font-style: 16px;
  width: 100%;;
  height: 56px;
}
.custom__input_small {
  width: 135px;
  height: 56px;
}
.custom__wrapp_small {
  display: flex;
  flex-basis: 280px;
  gap: 10px;
  padding-top: 23px;
  margin-bottom: 24px;
  
}
.custom__item_small {
  display: block;
  flex-shrink: 2;
}
.book__button {
  background: #FFFFFF;
  border-radius: 10px;
  width: 280px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6C0287;
  border: none;
}
.form-button__wrap {
  display: flex;
  justify-content: end;
  max-width: 960px;
  margin: 0 auto;
}






