.book {
  background-color: #440F51;
  padding-top: 80px;
}

.fildset {
  display: flex;
  justify-content: space-between;
  border: none;
}
.fildset__pleasure,
.fildset__custom{
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 40px;

}
.fildset__custom {
  column-gap: 30px;
}

.fildset__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  margin-bottom: 40px;
}
.subfildset__item {
  position: relative;
  align-content: center;
}
.input__radio {
  position: relative;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.input__radio:focus:before {
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  border: 1px solid #CD06FF;
}
.input__radio:focus:after {
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #fff;
}

.input__checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.input__checkbox:focus:after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #CD06FF;
  background-color: #fff;
}



.hall__lable {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  min-width: 250px;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.5s ease;
  transition-property: background-color, border, color;
}

.hall__lable:hover {
  transition-duration: 0.5s;
  background-color: #EADEED;
  border: 3px solid #640AA3;
}
.hall__lable:hover {
  transition-duration: 0.5s;
  background-color: #EADEED;
  border: 3px solid #640AA3;
}
.hall__lable:focus {
  transition-duration: 0.5s;
  background-color: #FFFFFF;
  border: 3px solid #640AA3;
}
.hall__lable:active {
  transition-duration: 0.5s;
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
  color: #fff;
}

.hall__input {
  display: none;
}
.subfildset {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 20px;
 padding: 0;
 border: none;
}
.subfildset__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  padding-bottom: 23px;

}

.subfildset__item {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  
}
.fildset__halls {
  margin-bottom: 57px;
}

.fildset__pleasure {
  margin-bottom: 60px;
}

.custom__input_small {
  width: 45%;
} 

.custom__wrapp {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
}
.custom__wrapp_brief {
  max-width: 280px;
}
.custom__wrapp_inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 22px;
  padding-top: 22px; 
}

.custom__input {
  font-style: 16px;
  height: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  padding: 0 20px;
  max-width: 100%;
  cursor: pointer;
}
.custom__input:focus {
  background: #fff;
  border: 2px solid #CD06FF;
}

.custom__item {
  font-size: 14px;
  line-height: 22px;

}

.book__button {
  background: #FFFFFF;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6C0287;
  border: none;
  transition: 0.5s ease;
  transition-property: background-color, border, color;
}
.book__button:hover {
  transition-duration: 0.5s;
  background-color: #EADEED;
  border: 3px solid #6C0287;
}
.book__button:focus {
  transition-duration: 0.5s;
  background-color: #ffffff;
  border: 3px solid #6C0287;
}
.book__button:active {
  transition-duration: 0.5s;
  background-color: #EADEED;
  border-radius: 10px;
  border: transparent;
}
.form-button__wrap {
  display: flex;
  justify-content: end;
  max-width: 980px;
  margin: 0 auto;
}






