.device__img {
  height: 100%;
  object-fit: cover;
}
.devices__title {
  padding: 0 136px;
}
.devices__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  overflow: hidden;
}
.device {
  position: relative;
  transition: 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}
.device__img {
  transition: 0.5s ease;
  
}
.device__img:hover {
  transform: scale(110%);
}
.device__title {
  position: absolute;
  top: 170px;
  left: 40px;
  max-width: 300px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.device_2,
.device_4,
.device_6 {
  order: 1;
}
.device_3 {
  order: 6;
}

