.header {
  padding: 38px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 97px;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 587px;
}
.menu__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 227%px;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.5s ease;
  transition-property: color;
}
.menu__item:hover {
  transition-duration: 0.5s;
  color:  var(--link-hover);
 }
.menu__item:focus {
  transition-duration: 0.5s;
  color:  var(--link-focus);
 }
.menu__item:active {
  transition-duration: 0.5s;
  color:  var(--link-active);
 }
.header__button {
  padding: 13px 28px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--white);
  border: 3px solid var(--light-purple);
  transition-duration: 0.5s;
  transition-property: background-color, border, padding;

}
.header__button:hover {
  transition-duration: 1s;
  background-color: var(--purple);
  border: 3px solid var(--purple);
}
.header__button:focus {
  transition-duration: 1s;
  background-color: var(--purple);
  border: 3px solid transparent;
}
.header__button:active {
  transition-duration: 1s;
  background-color: var(--midi-purple);
  border: 3px solid transparent;
}
